@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 115px;
}
.header_nav > p {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.header_nav > button {
  background-color: transparent;
  border: 1px solid #02a705;
  width: 85px;
  height: 40px;
  border-radius: 5px;
  color: #02a705;
  font-weight: 600;
  font-size: 16px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6e4d6;
  width: 85%;
  margin: 0 auto;
  padding: 55px;
  border-radius: 24px;
}

.hero > .left_hero {
  width: 35%;
  height: auto;
  background-color: transparent;
}
.left_hero > .title {
  color: #7f7c7c;
  font-size: 25px;
  font-family: "Fira Sans", serif;
  font-weight: 500;
}
.left_hero > .description {
  color: #0e0e0e;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  margin-top: 15px;
}

.left_hero > button {
  padding: 17px 45px;
  background-color: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 15px;
}

.hero > .right_hero {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_hero > img {
  width: 65%;
}

.Pillars {
  width: 85%;
  margin: 0 auto;
  margin-top: 60px;
}

.Pillars h1 {
  font-size: 37px;
}

.Pillars_card {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}
.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 1px 1px #d5d5d5;
}

.card > h3 {
  color: #0e0e0e;
}
.card > p {
  color: #797171;
}

.card > h3 {
  margin-top: 10px;
}

.card > p {
  margin-top: 10px;
}

.Vision {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.Vision_title h1 {
  font-size: 37px;
}

.Vision_card_parent {
  display: flex;
  gap: 24px;
}

.Vision_card {
  border-radius: 16px;
  padding: 32px;
}

.one {
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
}
.two {
  border: 0px solid #09a15c;
  background: #c6e4d6;
}
.three {
  border: 0px solid #ffc239;
  background: #f7ebcf;
}

.Vision_card button {
  padding: 11px 20px;
  border-radius: 8px;
  color: #fff;
  border: none;
}

.btn_one {
  background: #5490f5;
}

.btn_two {
  background: #09a15c;
}

.btn_three {
  background-color: #ffc239;
}

.Vision_title > p {
  margin-top: 25px;
}

.Vision_card_parent {
  display: flex;
  gap: 24px;
  margin-top: 45px;
}

.Vision_card > h3,
p {
  margin-top: 15px;
}

.Vision_card > button {
  margin-top: 25px;
}

.quotes {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  background-image: url(./assets/fi_2087863.png);
  background-repeat: no-repeat;
  margin-top: 30px;
  padding: 48px 24px;
  border-radius: 16px;
  background-position-x: 23px;
  background-position-y: 35px;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quotes_next {
  margin-top: 15px;
}

.quotes_next_step h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.quotes_next_step p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #666;
}
.Opinion {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.Opinion h1 {
  font-size: 37px;
}

.Opinion_details_head {
  background: #c6e4d6;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 35px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

select {
  background-color: #e7f3ec;
  border: 1px solid #006a50;
  padding: 8px 12px;
  font-size: 1rem;
  color: #006a50;
  border-radius: 5px;
  cursor: pointer;
}

select option {
  color: #000;
}

table tr:hover td {
  background-color: #f6f6f6;
}

td:first-child {
  width: 100%;
}

td:last-child {
  text-align: center;
}

.recent_news {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}
.recent_news h1 {
  font-size: 37px;
}

.main_article {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 48px;
  background-color: #ffffff;
  border-radius: 24px;
  margin-top: 45px;
}

.article_img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.article_img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 24px;
}

.dfimg img {
  width: 20%;
}

.article_dtls {
  width: 70%;
}

.date {
  display: flex;
  gap: 10px;
}

.main_article button {
  border-radius: 8px;
  background: #006a50;
  padding: 13px 26px;
  color: #e7f3ec;
  border: none;
  font-weight: 500;
  margin-top: 20px;
}

.donate {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.donate h1 {
  font-size: 37px;
}

.donate_title {
  text-align: center;
}

.donate_title > p {
  text-align: center;
}

.donate_main_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}

.donate_card {
  background-color: #02a705;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  border-radius: 16px;
}

.active {
  background-color: #c6e4d6;
}

.donate_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate_input input[type="text"] {
  padding: 20px 40px;
  width: 857px;
  background: #fff;
  margin-top: 30px;
  border: none;
  text-align: center;
  outline: none;
}

.donate_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.donate_button button {
  border-radius: 8px;
  border: 1px solid rgba(14, 14, 14, 0.1);
  background: #006a50;
  padding: 17px 34px;
  color: #e7f3ec;
  font-weight: 500;
  cursor: pointer;
}

.newsletter {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.newsletter h1 {
  font-size: 37px;
  text-align: center;
  padding-bottom: 20px;
}
.newsletter p {
  text-align: center;
  margin-top: 2px;
}

.newsletter input[type="text"] {
  padding: 17px 22px;
  width: 30%;
  border: none;
  border-radius: 8px 0px 0px 8px;
  outline: none;
}

.newsletter button {
  border-radius: 0px 8px 8px 0px;
  background: #006a50;
  padding: 17px 34px;
  color: #e7f3ec;
  cursor: pointer;
  border: none;
}

.newsletter_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

.newsletter_box {
  background: #c6e4d6;
  padding: 80px 100px;
  border-radius: 24px;
  margin-bottom: 70px;
}

.newsletter_hero {
  margin-top: 20px;
}

footer {
  padding: 50px 160px;
  background: #fff;
}

footer > .footer_title h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
}

.footer_icon {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header_nav > button:hover {
  background-color: #01af84;
  color: white;
  transition: all 300ms;
}

.left_hero > button:hover {
  background-color: #01af84;
  color: white;
  transition: all 300ms;
}

.Vision_card > button:hover {
  background-color: #007bff;
  color: white;
  transition: all 300ms ease-in-out;
}

.main_article button:hover {
  background-color: #01af84;
  color: white;
  transition: all 300ms;
}

.donate_button button:hover {
  background-color: #01af84;
  color: white;
  transition: all 300ms;
}
.newsletter button:hover {
  background-color: #01af84;
  color: white;
  transition: all 300ms;
}

.card:hover {
  background-color: #0dfffc0f;
  transition: all 300ms;
}

.Vision_card:hover {
  background-color: #343a40;
  color: white;
  transition: all 400ms;
}

.quotes:hover {
  background-color: #f8f9fa;
  transition: all 400ms;
}

td:first-child:hover {
  background-color: #79a59947;
  transition: all 400ms;
}
.main_article:hover {
  background-color: #e3e3e3;
  transition: all 400ms;
}

.donate_card:hover {
  background-color: #c6e4d6;
  transition: all 400ms;
}
.hero:hover {
  background-color: #d4d9d7;
  transition: all 400ms;
}
.newsletter_box:hover {
  background-color: #d4d9d7;
  transition: all 400ms;
}

.footer_icon img:hover {
  width: 20px;
}
